
.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.errorM {
    color: red
}

.errorValue {
    border: red solid 3px;
    background-color: pink;
}

.button-container {
    padding: 30px;
    width: 200px;
    height: 200px;
    border: 5px solid blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: lawngreen;


}

.display-container {
    padding: 30px;
    width: 200px;
    height: 200px;
    border: 5px solid blue;
    border-radius: 10px;
    background-color: lawngreen;
}

.setButton {
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
    background-color: bisque;
}

.incButton {
    margin-top: 30px;
    height: 50px;
    width: 70px;
    border-radius: 10px;
    background-color: bisque;
    margin-right: 30px;
}

.resetButton {
    margin-top: 30px;
    height: 50px;
    width: 70px;
    border-radius: 10px;
    background-color: bisque;
}

.number {
    color: red;
    font-size: 20px;
    margin-left: 40px
}

.truNumber {

    font-size: 20px;
    margin-left: 50px

}